* {
  margin: 0 auto;
  padding: 0;
}

@font-face {font-family: "SF Pro Display"; 
  src: url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.eot"); 
  src: url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.svg#SF Pro Display") format("svg"); }
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-style: normal;
}

body { font-family: 'SF Pro', 'Pretendard', sans-serif; }


.footnotes, footer { background-color: #f5f5f7; }

.footnotes-wrapper, .footer-wrapper {
  padding: 0 22px;
  max-width: 980px;
  justify-content: center;
}

.footnotes-content {
  padding: 17px 0 11px;
  border-bottom: 1px solid #d2d2d7;
}
.footnotes-content a {
  color: #515154;
  text-decoration: none;
}
.footnotes-content a:hover {
  color: #1d1d1f;
  text-decoration: underline;
}
.footnotes-content-1, .footnotes-content-2, .footnotes-content-3 {
  font-size: 11px;
  line-height: 1.33337;
  list-style: none;
  color: #86868b;
}
.footnotes-content-2 p, .footnotes-content-2 ol li, .footnotes-content-3 p {
  margin: 0;
  padding-bottom: 4px;
  word-break: keep-all;
}
.footnotes-content-2 ol {
  list-style: decimal;
  padding: 0 17px;
}

.footer-content-breadcrumbs { 
  height: 23.462px;
  padding: 17px 0;
  list-style: none;
}
.footer-content-breadcrumbs-item { 
  float: left; 
}
.apple-container {
  width: 14px;
  height: 18px;
  overflow: hidden;
}
.apple-icon:hover { transform: translate(0, -18px); }
.arrow-container {
  padding: 0 11px;
  width: 8px; 
  height: 18px;
  overflow: hidden;
}
.breadcrumbs-link-parent, .breadcrumbs-link-child { 
  font-size: 12px;
  color: #515154;
  text-decoration: none;
}
.breadcrumbs-link-parent:hover {
  color: #1d1d1f;
  text-decoration: underline;
}

.footer-content-directory {
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}
.footer-content-directory-column {
  flex-basis: 25%;
}
.column-section {
  font-family: 'Pretendard', sans-serif;
  font-size: 11px;
  list-style: none;
}
.column-name {
  font-weight: 600;
  color: #1d1d1f;
  margin-right: 20px;
  cursor: default;
  line-height: 1.33337;
  margin-bottom: 0.8em;
}
.column-list a, .column-list-last a {
  color: #515154;
  text-decoration: none;
}
.column-list a:hover, .column-list-last a:hover {
  color: #1d1d1f;
  text-decoration: underline;
}
.column-list {
  line-height: 1.33337;
  margin-bottom: 0.8em;
}
.colume-list-last {
  line-height: 1.33337;
  margin-bottom: 0;
}
.bi-section { padding-top: 24px; }

.footer-content-bottom {
  font-size: 11px;
  padding-top: 34px;
  padding-bottom: calc(max(21px,env(safe-area-inset-bottom)));
  border-top: none;
}
.footer-content-bottom p { color: #86868b;}
.footer-content-bottom-shop {
  margin-bottom: 7px;
  padding-bottom: 8px;
  border-bottom: 1px solid #d2d2d7;
}
.footer-content-bottom-shop a {
  color: #06c;
  text-decoration: none;
}
.footer-content-bottom-shop a:hover { text-decoration: underline; }

.footer-content-bottom-locale-link {
  float: right;
  display: inline;
  color: #515154;
  text-decoration: none;
  position: relative;
  z-index: 2;
}
.footer-content-bottom-locale-link:hover {
  color: #1d1d1f;
  text-decoration: underline;
}
.footer-content-bottom-legal {
  position: relative;
  top: -5px;
}
.footer-content-bottom-locale-link:hover {
  color: #1d1d1f;
  text-decoration: underline;
}
.footer-content-bottom-legal-copyright {
  float: left;
  margin-top: 5px;
  margin-right: 30px;
}
.footer-content-bottom-legal-links a {
  color: #515154;
  text-decoration: none;
}
.footer-content-bottom-legal-links a:hover {
  color: #1d1d1f;
  text-decoration: underline;
}
.legal-link {
  border-right: 1px solid #d2d2d7;
  margin-top: 5px;
  margin-right: 7px;
  padding-right: 10px;
  display: inline-block;
  white-space: nowrap;
}